.popup-button {
    width: 100%;
    align-self: center;
    margin: 5px 0;
    color: white;
    background-color: #000000 !important;
}

.popup-button:hover {
    background-color: #000000 !important;
}

.popup-content {
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
}

.popup .MuiOutlinedInput-root fieldset {
    border-color: black;
}

.popup .MuiOutlinedInput-root:hover fieldset {
    border-color: black;
}

.popup .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: black;
}

.popup .MuiInputLabel-root {
    color: black;
}

.popup .MuiInputLabel-root.Mui-focused {
    color: black;
}