.server-wrapper {
    flex: 0 0 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
}

.server-wrapper .autocomplete {
    width: 60%;
    margin: 5px 0;
}

.server-wrapper .login-text-field {
    width: 60%;
    margin: 5px 0;
}

.server-wrapper .server-send-button {
    width: 60%;
    align-self: center;
    margin: 5px 0;
    background-color: #000000;
}

.server-send-button:hover {
    background-color: #000000;
}
