.MuiIconButton-root {
    margin-left: 8px;
}

.login-wrapper {
    flex: 0 0 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    align-items: center;
    justify-content: center;
}

.login-wrapper .login-text-field {
    width: 60%;
    margin: 5px 0;
}

.login-wrapper .login-send-button {
    width: 60%;
    align-self: center;
    margin: 5px 0;
    background-color: #000000;
}

.login-wrapper .login-send-button:hover {
    background-color: #000000;
}

